<ul>
	<li>
		<a href="">系统用户管理</a>
	</li>
	<ul>
		<li>
			<a href="">系统管理员管理</a>
		</li>
		<li>
			<a href="">普通用户添加</a>
		</li>
		<li>
			<a href="">普通用户管理</a>
		</li>
		<li>
			<a href="">修改个人密码</a>
		</li>
	</ul>
	<li>
		<a href="">图书类别管理</a>
	</li>
	<ul>
		<li>
		    <a href="">图书类别添加</a>
		</li>
		<li>
		    <a href="">图书类别查询</a>
		</li>
	</ul>
	<li>
		<a href="">图书信息管理</a>
	</li>
	<ul>
		<li>
			<a href="">图书信息添加</a>
		</li>
		<li>
			<a href="">图书信息查询</a>
		</li>
	</ul>
	<li>
		<a href="">借阅管理</a>
	</li>
	<ul>
		<li>
			<a href="">借阅记录查看</a>
		</li>
		<li>
			<a href="">借阅统计</a>
		</li>
	</ul>
</ul>