<!DOCTYPE html>
<html>
<head>
	<title>图书借阅管理系统密码修改</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/style/userLeft.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/style/login.css">
	<!-- IE兼容 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<style type="text/css">
		.copyright {
            background: #eaf2f1;
            font-size: 13px;
            text-align: center;
            color: #555555;
            padding-top: 28px;
            padding-bottom: 28px;
            border-top: 1px solid #d7e0d9;
        }
	</style>
</head>
<body>
<!-- 导航栏部分 -->
<include file="./Public/Common/header.html"/>
<!-- 中间内容部分 -->
<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<ul>
				<li>
					<a href="">个人密码管理</a>
				</li>
				<ul>
					<li>
						<a href="__MODULE__/Modpwd/modpwd">个人密码修改</a>
					</li>
				</ul>
				<li>
					<a href="">图书信息</a>
				</li>
				<ul>
					<li>
					    <a href="__MODULE__/Bookser/bookser">图书查询</a>
					</li>
					<li>
					    <a href="__MODULE__/Booksort/booksort">借阅记录管理</a>
					</li>
				</ul>
			</ul>					
		</div>
		<div class="col-sm-8">
			
		</div>
	</div>
</div>
<!-- 底部状态栏部分 -->
<include file="./Public/Common/footer.html"/>
</body>
</html>
</html>