<!DOCTYPE html>
<html>
<head>
	<title>借阅操作</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/style/userLeft.css">
	<!-- IE兼容 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>	
	<style type="text/css">
		.copyright {
            background: #eaf2f1;
            font-size: 13px;
            text-align: center;
            color: #555555;
            padding-top: 21px;
            padding-bottom: 15px;
            border-top: 1px solid #d7e0d9;
        }
	</style>
</head>
<body>
<!-- 导航栏部分 -->
<include file="./Public/Common/header.html"/>
<!-- 中间内容部分 -->
<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<ul>
				<li>
					<a href="">系统用户管理</a>
				</li>
				<ul>
					<li>
						<a href="__MODULE__/Adduser/adduser">普通用户添加</a>
					</li>
					<li>
						<a href="__MODULE__/Modpwd/modpwd">修改个人密码</a>
					</li>
				</ul>
				<li>
					<a href="">图书类别管理</a>
				</li>
				<ul>
					<li>
					    <a href="__MODULE__/Addbooksort/addbooksort">图书类别添加</a>
					</li>
					<li>
					    <a href="__MODULE__/Serbooksort/serbooksort">图书类别查询</a>
					</li>
				</ul>
				<li>
					<a href="">图书信息管理</a>
				</li>
				<ul>
					<li>
					    <a href="__MODULE__/Addbook/addbook">图书信息添加</a>
					</li>
					<li>
					    <a href="__MODULE__/Serbook/serbook">图书信息查询</a>
					</li>
				</ul>
				<li>
					<a href="">借阅管理</a>
				</li>
				<ul>
					<li>
					    <a href="__MODULE__/Checkrecord/checkrecord">借阅记录查看</a>
					</li>
					<li>
					    <a href="__MODULE__/Serrecord/serrecord">借阅统计</a>
					</li>
				</ul>
			</ul>			
		</div>
		<div class="col-sm-8">
			<form action="" method="post">
				<h3>图书借阅</h3>
			</form>
		</div>
	</div>
</div>
<!-- 底部状态栏部分 -->
<div class="copyright" style="background-color:#ffffff;border: 0;background-color: rgb(104,203,224);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>&copy安徽大学计算机科学与技术学院信息安全专业</p>
                <p>开发人员:傅玉屏 金忠祥 余静 郁雪梅</p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
	//显示当前日期
	var date=new Date();
	document.getElementById('date').innerHTML="当前日期是："+date.toLocaleDateString();
</script>
</body>
</html>